
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="jumbotron text-center">

        <h2>Instructor Details</h2><hr>

        <p id="notice"><%= notice %></p>

        <p>
          <strong>Full name:</strong>
          <%= @instructor.full_name %>
        </p>

        <p>
          <strong>Phone number:</strong>
          <%= @instructor.phone_n %>
        </p>

        <p>
          <strong>Email:</strong>
          <%= @instructor.email %>
        </p>

        <p>
          <strong>Category:</strong>
          <%= @instructor.category %>
        </p>
        <div class="btn-group">
          <%= link_to 'Edit', edit_instructor_path(@instructor), class:'btn btn-outline-primary sm' %>
          <%= link_to 'Back', instructors_path, class:'btn btn-outline-primary sm' %>
        </div>

      </div>
    </div>
  </div>
