<div class="container">
  <nav class="navbar navbar-expand-sm bg-light navbar-light">
    <%= link_to 'Motor School', home_index_path, class: 'navbar-brand'%>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample03">
      <ul class="navbar-nav ml-md-auto">
        <li class="nav-item">
          <b><%= link_to ' ', class:'nav-link' %></b>
        </li>

        <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to 'lessons', user_lessons_path(current_user), class:"nav-link" %>
        </li>
        <%  end %>

        <li class="nav-item">
          <%= link_to 'Contact us', contacts_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to ' ', class:"nav-link" %>
        </li>
        <% if !current_user %>
          <li class="nav-item">
            <%= link_to 'My Account', new_user_session_path, class:"nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class:"nav-link" %>
          </li>
        <% end %>
      </ul>

    </div>
  </nav>
</div>
