
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="jumbotron text-center">
        <h2>lesson details</h2><hr>

        <p id="notice"><%= notice %></p>

        <div class="btn-group">
          <%= link_to 'Edit', edit_user_lesson_path(@lesson), class:'btn btn-outline-primary btn-sm' %>
          <%= link_to 'Back', user_lessons_path, class:'btn btn-outline-primary btn-sm' %>
        </div>
        <br><br>
        <p> <b>Learner name:</b> <%= @lesson.full_name %> </p>

        <p> <b>User email:</b> <%= current_user.email %> </p>

        <p> <b>Lesson date:</b> <%= @lesson.l_date %> </p>

        <p> <b>time:</b> <%= @lesson.l_time.to_formatted_s(:time) %> </p>

        <p> <b>Duration:</b> <%= @lesson.duration %> </p>

        <p> <b>Total Hours:</b> <%= @lesson.n_lesson %> </p>

        <p> <b>Remaining Hours:</b> <%= @remaining_h %> </p>

        <p> <b></b> <% @lesson.instructor %> </p>

        <p> <b>Total Price:</b> <%= @total_p %> €</p>

      </div>
    </div>
  </div>
