<!DOCTYPE html>
<html>
  <head>
    <title>Motorschool</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render partial:'partials/navbar'%>
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
          <p class="notice alert-success"><%= notice %></p>
          <p class="alert"><%= alert %></p>
        </div>
        <div class="col-2"></div>
      </div>
      <%= yield %>
    </div>

    <script type="text/javascript">
      $(document).ready(function(){
        $('.datepicker').datepicker({format: 'yyyy-mm-dd'});
      });
    </script>

  </body>
</html>
